<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7690be">  <td>17/10/02 13:54:21</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ParallelMethods.close()[pri:0, instance:com.testparallel.methods.ParallelMethods@4cf777e8]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@36202360</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>17/10/02 13:54:32</td>   <td>10457</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ParallelMethods.close()[pri:0, instance:com.testparallel.methods.ParallelMethods@4cf777e8]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@36202360</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>17/10/02 13:54:45</td>   <td>24220</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ParallelMethods.close()[pri:0, instance:com.testparallel.methods.ParallelMethods@4cf777e8]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@36202360</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>17/10/02 13:54:48</td>   <td>27407</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ParallelMethods.closebrowser()[pri:0, instance:com.testparallel.methods.ParallelMethods@4cf777e8]">&lt;&lt;closebrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@36202360</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>17/10/02 13:54:18</td>   <td>-3093</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelMethods.navigatetoAmazonHomepage()[pri:0, instance:com.testparallel.methods.ParallelMethods@4cf777e8]">navigatetoAmazonHomepage</td> 
  <td>main@36202360</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>17/10/02 13:54:30</td>   <td>8690</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelMethods.navigatetoFacebookHomepage()[pri:0, instance:com.testparallel.methods.ParallelMethods@4cf777e8]">navigatetoFacebookHomepage</td> 
  <td>main@36202360</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>17/10/02 13:54:43</td>   <td>22296</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelMethods.navigatetoGoogleHomepage()[pri:0, instance:com.testparallel.methods.ParallelMethods@4cf777e8]">navigatetoGoogleHomepage</td> 
  <td>main@36202360</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>17/10/02 13:54:10</td>   <td>-10731</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ParallelMethods.setUp()[pri:0, instance:com.testparallel.methods.ParallelMethods@4cf777e8]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@36202360</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>17/10/02 13:54:24</td>   <td>3127</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ParallelMethods.setUp()[pri:0, instance:com.testparallel.methods.ParallelMethods@4cf777e8]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@36202360</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>17/10/02 13:54:35</td>   <td>13994</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ParallelMethods.setUp()[pri:0, instance:com.testparallel.methods.ParallelMethods@4cf777e8]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@36202360</td>   <td></td> </tr>
</table>
