<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestNgMavenExampleSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bbb592">  <td>17/10/01 10:22:59</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;Home.close()[pri:0, instance:com.amazon.pages.Home@1e397ed7]">&lt;&lt;close</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@36202360</td>   <td></td> </tr>
<tr bgcolor="bbb592">  <td>17/10/01 10:22:51</td>   <td>-8063</td> <td>&nbsp;</td><td title="&gt;&gt;Home.initWebDriver()[pri:0, instance:com.amazon.pages.Home@1e397ed7]">&gt;&gt;initWebDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@36202360</td>   <td></td> </tr>
<tr bgcolor="bbb592">  <td>17/10/01 10:22:56</td>   <td>-3588</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Home.navigatetoHomepage()[pri:0, instance:com.amazon.pages.Home@1e397ed7]">navigatetoHomepage</td> 
  <td>TestNG-test=TestNgTest-1@834080542</td>   <td></td> </tr>
</table>
