<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bca669">  <td>17/10/03 12:00:01</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGParameters.setUp()[pri:0, instance:com.testNGParameters.test.TestNGParameters@73ad2d6]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@250370634</td>   <td></td> </tr>
<tr bgcolor="bca669">  <td>17/10/03 12:00:09</td>   <td>7971</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGParameters.search(java.lang.String)[pri:0, instance:com.testNGParameters.test.TestNGParameters@73ad2d6]">search</td> 
  <td>main@250370634</td>   <td></td> </tr>
<tr bgcolor="bca669">  <td>17/10/03 12:00:12</td>   <td>10695</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNGParameters.afterTest()[pri:0, instance:com.testNGParameters.test.TestNGParameters@73ad2d6]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td>  <td>main@250370634</td>   <td></td> </tr>
<tr bgcolor="bca669">  <td>17/10/03 12:00:12</td>   <td>11115</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGParameters.setUp()[pri:0, instance:com.testNGParameters.test.TestNGParameters@6adede5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@250370634</td>   <td></td> </tr>
<tr bgcolor="bca669">  <td>17/10/03 12:00:23</td>   <td>21881</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGParameters.search(java.lang.String)[pri:0, instance:com.testNGParameters.test.TestNGParameters@6adede5]">search</td> 
  <td>main@250370634</td>   <td></td> </tr>
<tr bgcolor="bca669">  <td>17/10/03 12:00:26</td>   <td>24846</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNGParameters.afterTest()[pri:0, instance:com.testNGParameters.test.TestNGParameters@6adede5]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td>  <td>main@250370634</td>   <td></td> </tr>
<tr bgcolor="bf9bbf">  <td>17/10/03 12:00:27</td>   <td>25958</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DataProviderTest.setUp()[pri:0, instance:com.testNGDataproviders.test.DataProviderTest@dc24521]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@250370634</td>   <td></td> </tr>
<tr bgcolor="bf9bbf">  <td>17/10/03 12:00:34</td>   <td>33402</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataProviderTest.search(java.lang.String)[pri:0, instance:com.testNGDataproviders.test.DataProviderTest@dc24521]">search</td> 
  <td>main@250370634</td>   <td></td> </tr>
<tr bgcolor="bf9bbf">  <td>17/10/03 12:00:37</td>   <td>35978</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DataProviderTest.afterTest()[pri:0, instance:com.testNGDataproviders.test.DataProviderTest@dc24521]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td>  <td>main@250370634</td>   <td></td> </tr>
<tr bgcolor="bf9bbf">  <td>17/10/03 12:00:37</td>   <td>36238</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DataProviderTest.setUp()[pri:0, instance:com.testNGDataproviders.test.DataProviderTest@dc24521]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@250370634</td>   <td></td> </tr>
<tr bgcolor="bf9bbf">  <td>17/10/03 12:00:43</td>   <td>42528</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataProviderTest.search(java.lang.String)[pri:0, instance:com.testNGDataproviders.test.DataProviderTest@dc24521]">search</td> 
  <td>main@250370634</td>   <td></td> </tr>
<tr bgcolor="bf9bbf">  <td>17/10/03 12:00:47</td>   <td>46332</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DataProviderTest.afterTest()[pri:0, instance:com.testNGDataproviders.test.DataProviderTest@dc24521]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td>  <td>main@250370634</td>   <td></td> </tr>
</table>
